.sign {
  height: 100vh;
  background-color: #ECF2FF;
}
.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
.inputType {
  margin-top: 20px;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: start;
}
.input {
  height: 50px;
  outline: none;
  border: none;
  color: #555;
  background-color: rgba(172, 172, 172, 0.2);
  border-radius: 20px;
  font-size: 16px;
  padding: 0 15px;
}
.forgot{
    text-align: end;
}
.error{
  color: rgb(202, 90, 90);
  text-align: center;
}
.button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: white;
  background-color: #0081C9;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;

}
.type{
    color:  #0046c9;
    cursor: pointer;
}
.loadingContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(41, 152, 255, 0.24)
}
.loading{
  padding: 0;
  margin: 0;
  width: 50px;
  height: 3px;
  border-radius: 5px;
  animation: animate 1s infinite ease-in-out;
  background: rgb(18, 141, 255);
}
@keyframes animate {
  0%{
      width: 50px;
      transform: translateX(-50px);
  }
  50%{
      width: 500px;
  }
  100%{
      width: 50px;
      transform: translateX(500px);
  }
}
@media (max-width:450px) {
  .form{
    width: 100%;
  }
}